*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smythe';
    scroll-behavior: smooth;
}

body{
    background-color: #F5F5F5;
}

.main-container{
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    background-color: white;
}

header{
    background: url(Header-background.jpg);
    height: 20%;
    background-size: 100% 200px;
    background-repeat: no-repeat;
    color: white;
}

header h1{
    padding: 40px 100px 10px;
    letter-spacing: 1px;
}

header p{
    padding: 0 100px 25px;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
}

section{
    min-height: 405px;
}

.food-container{
    display: flex;
    padding-left: 10px;
    padding-bottom: 25px;
    margin: 50px auto;  
    width: 90%;
    border-bottom: 0.2px solid rgba(136, 129, 129, 0.492);
}

.food-img img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.food-description{
    display: flex;
    padding-left: 60px;
    justify-content: space-between;
    width: 80%;
}

.food-name{
    font-size: 50px;
    margin-bottom: 5px;
}

.food-ingredients{
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(150, 137, 137);
}

.price-tag{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.add-button{
    margin-top: 20px;
    padding: 20px 30px;
    border: 1px solid rgb(176, 176, 176);
    background-color: transparent;
    border-radius: 100%;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.5;
    font-family: 'Inter';
}

.add-button:hover{
    opacity: 1;
}

.orders-para{
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
}

.order-list{
    display: flex;
    margin: 20px auto 10px;
    padding-bottom: 20px;
    width: 85%;
    justify-content: space-between;
}

.order-list button{
    padding-left: 30px;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(150, 137, 137);
    cursor: pointer;
    opacity: 0.7;
    display: inline-block;
    background-color: transparent;
    border: none;
}

.order-list button:hover{
    opacity: 1;
}

.order-list p{
    font-size: 2.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    height: 4px;
    background-color: black;
    width: 85%;
    margin: auto;
}

.order-list-total{
    border-top: 1px solid black;
    padding-top: 25px;
    display: none;
    margin: 10px auto 35px;
    width: 85%;
    position: relative;
    justify-content: space-between;
}

.order-list-total p{
    font-size: 2.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.complete-order{
    background-color: #16DB99;
    margin: 20px 75px 60px;
    width: 85%;
    padding: 20px 40px;
    border: none;
    display: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 10px;
}

#order-id{
    display: none;
}

.red-color{
    background-color: #e12c2c;
    margin: 60px 75px;
    width: 85%;
    padding: 20px 40px;
    border: none;
    display: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 10px;
}

.refresh-btn{
    background-color: #2c74e1;
    margin: 20px 75px 40px;
    width: 85%;
    padding: 20px 40px;
    border: none;
    display: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 10px; 
}

.refresh-btn:hover{
    opacity: 1;
}

.complete-link{
    text-decoration: none;
}

.red-color:hover{
    opacity: 1;
}

#complete-order:hover{
    opacity: 1;
}

footer{
    background-color: rgb(150, 33, 20);
    padding: 15px;
}

footer p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Inter';
    color: white;
}

.payment-details-modal{
    position: fixed;
    display: none;
    top: 50px;
    left: 25%;
    background-color: white;
    box-shadow: 0 0 5px black;
    width: 50%;
    max-width: 100%;
}

.payment-details-modal input{
    display: block;
    width: 90%;
    margin: 30px auto 0;
    height: 50px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    outline: none;
}

.payment-details-modal p{
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.close-modal{
    display: block;
    margin-left: auto;
    padding: 30px;
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.pay-finish{
    background-color: #16DB99;
    margin: 40px auto;
    width: 85%;
    padding: 20px 40px;
    border: none;
    display: block;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 10px;
}

.pay-finish:hover{
    opacity: 1;
}

/* MEDIA QUERIES */

@media (min-width: 375px) and (max-width: 426px){
    .main-container{
        width: 125%;
    }

    .food-container{
        display: flex;
        padding-left: 10px;
        padding-bottom: 25px;
        margin: 50px auto;  
        width: 95%;
        border-bottom: 0.2px solid rgba(136, 129, 129, 0.492);
    }
    
    .food-img img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
    
    .food-description{
        display: flex;
        padding-left: 20px;
        justify-content: space-between;
        width: 75%;
        gap: 30px;
    }
    
    .food-name{
        font-size: 30px;
    }
    
    .food-ingredients{
        font-size: 18px;
        margin-bottom: 20px;
        color: rgb(150, 137, 137);
    }
    
    .price-tag{
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .add-button{
        margin-top: 20px;
        padding: 10px 20px;
        border: 1px solid rgb(176, 176, 176);
        background-color: transparent;
        border-radius: 100%;
        font-size: 2rem;
        cursor: pointer;
        opacity: 0.5;
        font-family: 'Inter';
    }
    
    .add-button:hover{
        opacity: 1;
    }

    .complete-order{
        margin: 20px 38px 60px;
        width: 85%;
    }

    .red-color{
        margin: 60px 38px;
        width: 85%;
    }
    
    .refresh-btn{
        margin: 20px 38px 40px;
        width: 85%;
    }

    .payment-details-modal{
        width: 80%;
        left: 11%;
    }
}